body {
    background-color: #d24dff; /* Цвет фона страницы */
    font-family: Arial, sans-serif; /* Шрифт текста */
    text-align: center; /* Центрирование текста */
}
h1 {
    margin: 20px 0; /* Внешние отступы для заголовка */
}
avatar {
    width: 150px; /* Ширина изображения */
    border: 2px solid #333; /* Рамка для изображения */
    border-radius: 75px; /* Закругление углов изображения */
}
p {
    padding: 10px; /* Внутренние отступы для параграфа */
}
ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы у списка */
}
li {
    margin: 10px 0; /* Внешние отступы для элементов списка */
}
a {
    color: #007BFF; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылки */
}
a:hover {
    text-decoration: underline; /* Подчеркивание при наведении на ссылку */
}
